<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CUSTOM META TAGS -->
    <meta name="description" content="{{ company_name }} Offers: Web Development, Mobile Application Development, Custom Graphic Designs, Desktop Applications, Data Science, Data Analytics, Machine Learning Models and Intergration services in Kenya. Call us {{ mobile_number_1 }}">
    <meta name="author" content="{{ company_name }} ">
    <meta name="robots" content="index, follow">

    <!-- Open Graph Meta Tags for better search visibility -->
    <meta property="og:title" content="{{ company_name }} - Event Management, E-Commerce, and Branding">
    <meta property="og:description" content="Explore event management services, e-commerce, and fast branding services like t-shirt printing and custom products. Call us today: {{ mobile_number_1 }}">
    <meta property="og:image" content="https://gikungueric.online/static/images/company_logos/default.png" /> 
    <meta property="og:url" content="https://gikungueric.online">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

     <!-- Links for Google Fonts -->
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">

     <!-- Bootstrap and other links -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
     <link href="https://cdn.jsdelivr.net/npm/font-awesome@5.15.4/css/all.min.css" rel="stylesheet">

     <!-- Title Icon Image -->
    <link rel="icon" href="{{ url_for('static', filename='images/company_logos/default.png') }}" type="image/png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <title>
        {% block title %}
            {{ company_name }}
        {% endblock %}
    </title>
</head>

<body class="custom-bg">

    {% block main %}
        <h1> main content </h1>
    {% endblock %}

    <!-- Footer content -->
    {% block footer %}
        <h1> footer  </h1>
    {% endblock %}

    <!-- Bootstrap Bundle JS -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script src=""></script>
</body>
</html>